:root {
  --cor-fundoPrincipal: #f0f4f8;
  --cor-navbar: #CFD8DC;
  --cor-textoPrincipal: #333c4d;
  --cor-link: #546E7A;
  --cor-link-hover: #64B5F6 ;
  --cor-destaque: #90A4AE;
  --cor-iconesSocial: #37474F;
  --cor-iconesSocial-hover: #607D8B;
  --cor-descricao: #546E7A;
  --cor-link-secundario: #1565C0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row; 
  height: 100vh;        
  font-family: 'Inter', sans-serif;
  background-color: var(--cor-fundoPrincipal);
  color : var(--cor-textoPrincipal);
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
}

.navbar-lateral {
  width: 275px;
  height: 100vh;
  background-color: var(--cor-navbar);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px; 
  overflow-y: auto;
}

.navbar-lateral .img-usuario img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.navbar-lateral .nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.navbar-lateral .nav-links a {
 color: var(--cor-link);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s ease;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.navbar-lateral .nav-links a:hover,
.navbar-lateral .nav-links a.active {
  color: var(--cor-link-hover);
}

.conteudo {
  flex: 1;
  padding: 40px;
  background-color: var(--cor-fundo);
  overflow-y: auto;
}

.conteudo .contato {
  width: 100%;
  /* text-transform: uppercase;    */
}

.conteudo .contato .nome {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;   
  font-size: 5rem;
  font-weight: 700;
}

.conteudo .contato .sobrenome {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;   
  color: var(--cor-link);
  font-size: 5rem;
  font-weight: 700;
}

.conteudo .contato .dados-contato {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--cor-link);
}

.conteudo .contato .dados-contato a {
  color: var(--cor-link-secundario);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s ease;
}

.conteudo .contato .dados-contato a:hover {
  color: var(--cor-link-hover);
}

.conteudo .contato .sobre {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  line-height: 1.1;
  margin-bottom: 3rem;
  text-align: justify;
}

.conteudo .contato .sobre p {
  margin-bottom: 1.2rem;
}

.social-icons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem; 
  justify-content: flex-start; 
}

.social-icon {
  color: var(--cor-iconesSocial); 
  font-size: 2.2rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--cor-iconesSocial-hover);
}

.conteudo .experiencias {
  width: 100%;
}

.experiencias h2 {
  width: 100%;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 3.3rem;
  font-weight: 700;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.experiencia-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .experiencia-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.experiencia-item .descricao {
  flex: 1;
}

.experiencia-item .descricao h3,
.experiencia-item .descricao .sub-descricao {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.experiencia-item .descricao h3 {
  font-size: 1.8rem;
}

.experiencia-item .descricao .sub-descricao {
  font-size: 1.5rem;
  color: var(--cor-link);
}

.experiencia-item .descricao .descricao-texto{
  padding-top: 1rem;
}

.experiencia-item .descricao .descricao-texto p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  text-align: justify;
  color: var(--cor-descricao);
  line-height: 0.6; 
  /* padding-top: 1.1rem; */
}

.experiencia-item .descricao a {
  color: var(--cor-link-secundario);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.5s ease;
}

.experiencia-item .descricao a:hover {
  color: var(--cor-link-hover);
}

.experiencia-item .periodo {
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 150px;
  font-weight: 500;
  color: var(--cor-link);
  text-align: right;
}


 
 