:root {
  --cor-fundoPrincipal: #f0f4f8;
  --cor-navbar: #cfd8dc;
  --cor-textoPrincipal: #333c4d;
  --cor-link: #546e7a;
  --cor-link-hover: #64b5f6;
  --cor-destaque: #90a4ae;
  --cor-iconesSocial: #37474f;
  --cor-iconesSocial-hover: #607d8b;
  --cor-descricao: #546e7a;
  --cor-link-secundario: #1565c0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--cor-fundoPrincipal);
  color: var(--cor-textoPrincipal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.navbar-lateral {
  width: 275px;
  height: 100vh;
  background-color: var(--cor-navbar);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  overflow-y: auto;
}

.navbar-lateral .img-usuario img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
   object-position: center;

  /* Borda sutil com cor de destaque */
  border: 1px solid var(--cor-destaque);

  /* Sombra leve com cor de ícone social */
  box-shadow: 0 5px 10px rgba(55, 71, 79, 0.3);
}

.navbar-lateral .nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar-lateral .nav-links a {
  color: var(--cor-link);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s ease;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.navbar-lateral .nav-links a:hover,
.navbar-lateral .nav-links a.active {
  color: var(--cor-link-hover);
}

@media (max-width: 768px) {
  .navbar-lateral {
    position: fixed;
    top: 0;
    left: -300px; /* esconde à esquerda */
    width: 275px;
    height: 100vh;
    background-color: var(--cor-navbar);
    transition: left 0.3s ease;
    z-index: 1000;
  }
  .navbar-lateral.active {
    left: 0; /* mostra o menu */
  }

  .menu-toggler {
    position: fixed;
    top: 15px;
    left: 15px;
    background: var(--cor-navbar);
    border: none;
    color: var(--cor-link);
    font-size: 24px;
    cursor: pointer;
    z-index: 1100;
  }
}

@media (min-width: 769px) {
  .menu-toggler {
    display: none;
  }
}

.menu-toggler {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border: none;
  color: var(--cor-link);
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-toggler:hover {
  opacity: 1;
}

.conteudo {
  flex: 1;
  /* padding: 40px; */
  background-color: var(--cor-fundo);
  overflow-y: auto;
}

.conteudo-container {
  padding: 40px;  
}

.conteudo-container .contato {
  width: 100%;
  /* text-transform: uppercase;    */
}

.conteudo-container .contato .nome {
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
}

.conteudo-container .contato .sobrenome {
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  color: var(--cor-link);
  font-size: 5rem;
  font-weight: 700;
}

.conteudo-container .contato .dados-contato {
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--cor-link);
}

.conteudo-container .contato .dados-contato a {
  color: var(--cor-link-secundario);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s ease;
}

.conteudo-container .contato .dados-contato a:hover {
  color: var(--cor-link-hover);
}

.conteudo-container .contato .sobre {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  line-height: 1.1;
  margin-bottom: 3rem;
  text-align: justify;
}

.conteudo-container .contato .sobre p {
  margin-bottom: 1.2rem;
}

.social-icons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: flex-start;
}

.social-icon {
  color: var(--cor-iconesSocial);
  font-size: 2.2rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--cor-iconesSocial-hover);
}

.conteudo-container .experiencias,
.conteudo-container .formacao,
.conteudo-container .habilidade {
  width: 100%;
  margin-top: 3rem;
}

.experiencias h2,
.formacao h2,
.habilidade h2,
.interesses h2 {
  width: 100%;
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 3.3rem;
  font-weight: 700;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.experiencia-item, 
.formacao-item,
.habilidade-item,
.interesses-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .experiencia-item, 
  .formacao-item,
  .habilidade-item,
  .interesses-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.experiencia-item .descricao,
.formacao-item .descricao,
.habilidade-item .descricao,
.interesses-item .descricao {
  flex: 1;
}

.experiencia-item .descricao h3,
.experiencia-item .descricao .sub-descricao,
.formacao-item .descricao h3,
.formacao-item .descricao .sub-descricao,
.habilidade-item .descricao .sub-descricao {
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.experiencia-item .descricao h3,
.formacao-item .descricao h3 {
  font-size: 1.8rem;
}

.experiencia-item .descricao .sub-descricao,
.formacao-item .descricao .sub-descricao,
.habilidade-item .descricao .sub-descricao {
  font-size: 1.5rem;
  color: var(--cor-link);
}

.experiencia-item .descricao .descricao-texto,
.formacao-item .descricao .descricao-texto {
  padding-top: 1rem;
}

.experiencia-item .descricao .descricao-texto p,
.formacao-item .descricao .descricao-texto p,
.habilidade-item .descricao .descricao-texto p,
.interesses-item .descricao p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  text-align: justify;
  color: var(--cor-descricao);
  margin: 8px 0;        
  line-height: 1.2;     
  word-wrap: break-word; 
}

.interesses-item .descricao p { 
  font-size: 1.3rem;
 
}

.experiencia-item .descricao a {
  color: var(--cor-link-secundario);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.5s ease;
}

.experiencia-item .descricao a:hover {
  color: var(--cor-link-hover);
}

.experiencia-item .periodo,
.formacao-item .periodo {
  font-family: "Source Sans Pro", sans-serif;
  min-width: 150px;
  font-weight: 500;
  color: var(--cor-link);
  text-align: right;
}

.habilidade-item .descricao .sub-descricao-stack,
.habilidade-item .descricao .sub-descricao-outros {
  margin-top: 1.5rem;
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--cor-link);
}


.habilidade-item .descricao .dev-icons {
  font-size: 3rem;
  color: var(--cor-link);
}

.habilidade-item .descricao .dev-icons i:hover {
  color: var(--cor-link-secundario); 
  transform: scale(1.2);  
  transition: all 0.3s ease;  
} 